# Default values for web-app-chart.
# This is a YAML file that defines values for the web-app-chart Helm chart.
# Declare variables to be passed into your templates.

replicaCount: 1

image: 
  repository: refilwemohlalaa/web-app
  tag: "12932142437"
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.

ingress:
  enabled: false
  classname: ""
  annotations: {}
  #  kubernetes.io/ingress.class: nginx
  #  kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: 
        - path: /
          pathType: implementationSpecific
